<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.nj.launch.FlashLaunch">
<stringAttribute key="com.altera.nj.launch.FLASH_SOF_FILENAME" value="D:\richard\touch\CD_SOPC\DE2_SOPC_MTL_PAINTER\MTL_DEMO.sof"/>
<booleanAttribute key="com.altera.nj.launch.VALIDATE_HW_SYSID" value="true"/>
<intAttribute key="com.altera.nj.launch.DEBUG_TARGET" value="1"/>
<stringAttribute key="com.altera.nj.launch.FLASH_SOF" value="1"/>
<intAttribute key="com.altera.nj.launch.DEVICE_INDEX" value="-1"/>
<stringAttribute key="com.altera.nj.launch.PTF_CPU" value="cpu"/>
<stringAttribute key="com.altera.nj.launch.FLASH_SOF_OFFSET" value="0x0"/>
<stringAttribute key="com.altera.nj.launch.DOWNLOAD_ARGS" value="--instance=0"/>
<stringAttribute key="com.altera.nj.launch.CABLE_NAME" value="USB-Blaster [USB-0]"/>
<stringAttribute key="com.altera.nj.launch.FLASH_DATAFILE_MEMORY_61" value="cfi_flash"/>
<stringAttribute key="com.altera.nj.launch.FLASH_DATAFILE_OFFSET" value="0x0"/>
<stringAttribute key="com.altera.nj.launch.FLASH_DATAFILE_MEMORY_60" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug/MTL_DEMO.elf"/>
<stringAttribute key="com.altera.nj.launch.FLASH_DATAFILE_FILENAME" value=""/>
<stringAttribute key="com.altera.nj.launch.PTF_NAME" value="D:\richard\touch\CD_SOPC\DE2_SOPC_MTL_PAINTER\MTL_SOPC.ptf"/>
<stringAttribute key="com.altera.nj.launch.SOF2FLASH_ARGS" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="MTL_DEMO"/>
<stringAttribute key="com.altera.nj.launch.FLASH_SOF_FLASHCONFIG_61" value="Custom"/>
<stringAttribute key="com.altera.nj.launch.FLASH_SOF_MEMORY" value="epcs_flash_controller"/>
<booleanAttribute key="com.altera.nj.launch.ACTIVE_PARALLEL" value="false"/>
</launchConfiguration>
